.upload {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #00000030;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  &__container {
    max-width: 1050px;
    width: 1050px;
    max-height: 700px;
    height: 650px;
    background-color: #fff;
    border-radius: 20px;
    padding: 24px 150px 44px;
    position: relative;
    @media (max-width: 1024px) {
      max-width: 1000px;
    }
    @media (max-width: 768px) {
      max-width: 700px;
      padding-left: 50px;
      padding-right: 50px;
    }
    @media (max-width: 426px) {
      max-width: 376px;
      padding-left: 20px;
      padding-right: 20px;
      height: 520px;
    }
    @media (max-width: 376px) {
      max-width: 320px;
      height: 520px;
    }
    @media (max-width: 321px) {
      max-width: 300px;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    @media (max-width: 769px) {
      margin-top: 30px;
    }
    @media (max-width: 426px) {
      display: block;
    }
  }
  &__title {
    display: flex;
    align-items: center;
    span {
      font-size: 22px;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: 0.01em;
      margin-right: 10px;
    }
    p {
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.01em;
      @media (max-width: 426px) {
        font-size: 16px;
      }
    }
    @media (max-width: 426px) {
      margin-bottom: 15px;
      justify-content: space-between;
    }
  }
  &__btn {
    background: rgba(71, 129, 242, 1);
    font-size: 16px;
    font-weight: 800;
    line-height: 26px;
    letter-spacing: 0.01em;
    text-align: center;
    padding: 12px 19px;
    border-radius: 8px;
    transition: 0.3s all;
    cursor: pointer;
    &:hover {
      box-shadow: 0px 4px 10px rgba(71, 128, 242, 0.718);
      background: rgba(71, 129, 242, 1);
      border-color: rgba(71, 129, 242, 1);
      color: #fff;
    }
  }
  &__img-list {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    gap: 40px;
    @media (max-width: 769px) {
      margin-top: 50px;
    }
    @media (max-width: 426px) {
      gap: 10px;
    }
  }
  &__img-item {
    width: 49%;
    height: 500px;
    position: relative;
    p {
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0.01em;
      display: flex;
      margin-top: 13px;

      @media (max-width: 426px) {
        font-size: 16px;
      }
    }
    @media (max-width: 769px) {
      height: 400px;
    }
    @media (max-width: 426px) {
      height: 260px;
    }
  }
  &__img-drop {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d9d9d9;
    border: 2px dashed #00000070;
    font-size: 18px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0.01em;
    text-align: center;
    @media (max-width: 376px) {
      height: 250px;
    }

    @media (max-width: 321px) {
      font-size: 16px;
    }
  }
  &__close {
    background: url("../../assets/images/icons/close.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 26px;
    right: 22px;
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
  &__remove {
    position: absolute;
    right: 0;
    background-color: #fff;
    border-radius: 0 0 0 10px;
    cursor: pointer;
    padding: 10px;
    
  }
}

.drop-hover {
  border-color: rgb(13, 65, 169);
  background: rgba(71, 128, 242, 0.049);
}

p.clip {
  width: 100%;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dnd {
  &__container {
  }
  &__img {
    width: 100%;
  }
}
