a {
  text-decoration: none;
  color: inherit;
}
.header {
  &__container {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    @media (max-width: 476px) {
      margin-bottom: 50px;
    }
  }

  &__logo {
    font-size: 28px;
    font-weight: 800;
    line-height: 26px;
    letter-spacing: 0.01em;
    color: #101010;
    @media (max-width: 426px) {
      margin-top: 20px;
    }
  }
  &__btns {
    display: flex;
    align-items: center;
    gap: 36px;
    position: relative;
    @media (max-width: 426px) {
      margin-top: 20px;
      justify-content: space-between;
      width: 100%;
      gap: 20px;
    }
    @media (max-width: 376px) {
      gap: 10px;
    }
  }
  &__logout {
    position: absolute;
    right: 0;
    top: 55px;
    cursor: pointer;
  }

  &__try {
    border: 1px solid #797979;
    font-weight: 500;
    line-height: 22px;
    padding: 14px 50px;
    color: #797979;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.103);
      border-color: rgba(71, 129, 242, 1);
      color: rgba(71, 129, 242, 1);
    }
    @media (max-width: 426px) {
      font-size: 16px;
      padding: 14px 15px;
    }
    @media (max-width: 376px) {
      font-size: 14px;
      padding: 14px 15px;
    }
    @media (max-width: 321px) {
      padding: 14px 15px;
      font-size: 12px;
    }
  }
  &__login {
    font-weight: 600;
    line-height: 26px;
    color: #fff;
    background: #04122e;
    padding: 12px 25px;
    border: 0;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.103);
      background: rgba(71, 129, 242, 1);
      border-color: rgba(71, 129, 242, 1);
    }
    @media (max-width: 426px) {
      font-size: 16px;
      padding: 14px 15px;
    }
    @media (max-width: 376px) {
      font-size: 14px;
      padding: 14px 15px;
    }
    @media (max-width: 321px) {
      padding: 14px 15px;
      font-size: 12px;
    }
  }
  &__new-test {
    border-radius: 8px;
    background-color: #4781f2;
    padding: 12px 14px;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.01em;
    text-align: center;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      box-shadow: 0px 4px 15px rgba(71, 128, 242, 0.314);
      background: #fff;
      color: rgba(71, 129, 242, 1);
      border: 1px solid rgba(71, 129, 242, 1);
    }
    @media (max-width: 426px) {
      padding: 9px 14px;
    }
  }
  &__help {
    border: 1px solid #000;
    background-color: transparent;
    border-radius: 8px;
    padding: 11px 31px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0.01em;
    text-align: center;
    transition: all 0.2s;
    &:hover {
      box-shadow: 0px 4px 15px rgba(71, 128, 242, 0.314);
      background: #fff;
      color: rgba(71, 129, 242, 1);
      border: 1px solid rgba(71, 129, 242, 1);
    }
    @media (max-width: 426px) {
      margin-left: -30%;
      padding: 8px 25px;
    }
    @media (max-width: 376px) {
      margin-left: -20%;
    }
    @media (max-width: 321px) {
      margin-left: -10%;
    }
  }
  &__user-img {
    width: 36px;
    height: 36px;
    cursor: pointer;
  }
}

.auth-modal-enter {
  opacity: 0;
  transform: scale(1.1);
}

.auth-modal-enter-active {
  opacity: 1;
  transition: all 0.3s;
  transform: scale(1);
}

.auth-modal-exit {
  opacity: 1;
  transform: scale(1);
}

.auth-modal-exit-active {
  opacity: 0;
  transition: all 0.3s;
  transform: scale(1.1);
}

.upload-modal-enter {
  opacity: 0;
  transform: scale(1.1);
}

.upload-modal-enter-active {
  opacity: 1;
  transition: all 0.5s;
  transform: scale(1);
}

.upload-modal-exit {
  opacity: 1;
  transform: scale(1);
}

.upload-modal-exit-active {
  opacity: 0;
  transition: all 0.5s;
  transform: scale(1.1);
}
