@import url(https://fonts.googleapis.com/css?family=Urbanist:300,regular,500,600,700,800);

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Urbanist;
  color: #101010;
}
.lock {
  overflow: hidden;
}

.btn {
  border-radius: 10px;
  background: transparent;
  font-size: 16px;
  letter-spacing: 0.01em;
}

@media (max-width: 1025px) {
  .container {
    max-width: 992px;
  }
}

@media (max-width: 769px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 426px) {
  .container {
    max-width: 420px;
  }
}
